/* место для вашего кода */


.header {
  margin: 92px 0 95px;
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  }

.menu {
  padding-left: 50px;
}

.menu-list {
  list-style-type: circle;
}

.menu-list-header {
  display: flex;
  gap: 33px;
}

.menu-item {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  text-underline-position: under;
}

.menu-item-no-bullet {
  list-style-type: none;
}

.menu-item-activ {
  text-decoration: none;
}

.logo {
  display: block;
  width: 130px;
  height: 105px;
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 1.3;

}

.address-links {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  text-underline-position: under;
}

.header-address {
  max-width: 240px;
  margin-right: 50px;
}

.cover {
  background-image: url('../images/cover.jpg');
  min-height: 757px;
  background-size:cover;
  background-position-x:center;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.title_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 160px 20px 0 50px;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 135px;
  color: white;
}

.title_text_left {
  text-align: left;
}

.title_text_center {
  text-align: center;
}

.title_text_right {
  text-align: right;
}

.description {
  padding: 90px 0 50px 0px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.description-text {
  letter-spacing: 0px;
  word-spacing: 19px;
}

.button-bet {
  margin-right: -4px;
  background: transparent;
  border: 1px solid white;
  padding: 15px 40px 10px 35px;
  letter-spacing: 0px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 0px 24px;
  }

.lots-text {
  font-size: 40px;
  margin-left: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
  }

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:25px;
}

.card {
  width: 334px;
  min-height: 596px;
  list-style-type: none;
  }

.card-link {
  height: 100%;
}

.card-cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-title {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  padding: 48px 40px 0;
  text-decoration-skip-ink: none;
  text-decoration: underline;
  text-underline-position: under;
}

.card-description {
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  font-size: 20px;
}

.card-sinema {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-more {
  font-size: 20px;
  text-underline-position: under;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  margin: 120px 24px 0;
  width: 1052px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about-logo {
  margin-top: 35px;
  margin-left: 47px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center
}

.about-logo-image {
  background-image: url(../images/logo-white.svg);
  width: 148px;
  height: 114px;
}

.about-text {
  display: grid;
  grid-template-rows: 1fr max-content;
  justify-content: end;
  align-items: end;
  padding-right: 3px;
}

.about-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about-description {
  display: grid;
  font-size: 20px;
  gap: 25px;
  line-height: 1.2;
}

.footer {
  margin-top: 180px;
  margin-bottom: 82px;
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
}

.menu-list-footer {
  list-style-type: none;
  text-align: center;
  padding-right: 50px;
}

.footer-address {
  justify-self:auto;
}

.social-list {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style-type: none;
}

.social-links {
  width: 48px;
  height: 48px ;
  display: inline-block;
}

.social-yt {
  background-image: url(../images/yt.svg);
}

.social-vk {
  background-image: url(../images/vk.svg);
}

.social-p {
  background-image: url(../images/pinterest.svg);
}